@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/inter";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #00205B;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #00205B;
}

section {
  margin-bottom: 3rem;
}
